<% layout("/layouts/boilerplate") %>
<body>

  <br><br>
  <center>
    <h1 class="mt-3">Add new listing:</h1><br>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
       

      <div class="row">
        <div class="col-8 offset-2 mt-3">
          <div class="mb-3 ">
            <label for="listing[title]" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" placeholder="Enter title" >
            <div class="valid-feedback">Title looks good!</div>
          </div>
         
         
         
         <div class="mb-3">
            <label for="listing[description]" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" cols="30" rows="10" class="form-control form-control-sm" ></textarea>
            <div class="valid-feedback">Please enter a short description</div>
          </div>
         
          <div class="mb-3">
            <label for="listing[image]" class="form-label">Upload Listing Image</label>
          <input type="file" name="listing[image]" class="form-control" placeholder="Enter Image url" required >
          
          <br>
          </div>
          
          <!-- ============================================== -->
          <div class="row">
            
            <div class="mb-3 col-md-4">
              <label for="listing[price]" class="form-label">Price</label>
              <input name="listing[price]"  class="form-control" placeholder="Enter Price, e.g.=1200" >
              <div class="invalid-feedback">Price should be valid</div>
            </div>
            
            <div class="mb-3 col-md-8">
              <label for="listing[country]" class="form-label">Country</label>
              <input type="text" name="listing[country]" class="form-control" placeholder="Enter Country" >
              <div class="invalid-feedback">Country should be valid</div>
            </div>
          </div>

          <!-- ========================================================= -->
          
          <div class="mb-3">
            <label for="listing[location]" class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" placeholder="Enter location" ><div class="invalid-feedback">Location should be valid</div><br>
          </div>
         
    
        </div>
      </div>
     <br><br>
           <button class="btn btn-dark add-btn">Add</button>
    </form>

   <br><br>
   
  </center>
</body></html>